@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

body {
    background-image: url(IMG/img1.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 40px;
}

.login a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 35px;
    font-family: "Lugrasimo", cursive;
    font-weight: 600;
    color: rgb(35, 183, 232);
    background-color: aliceblue;
    padding: 10px 30px;
    border-radius: 15px;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: "Lugrasimo", cursive;
    font-weight: 500;
    text-align: left;
}

.informacoes p {
    font-size: 25px;
    color: rgb(78, 78, 78);
    text-transform: uppercase;
    font-family: "Lugrasimo", cursive;
    font-weight: 500;
    text-align: left;
}

#inputNome {
    width: 550px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
}

#inputEmail {
    width: 340px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
}

.botaoLogin {
    width: 200px;
    height: 40px;
    color: black;
    background-color: aliceblue ;
    border-radius: 15px;
    font-size: 30px;
    text-transform: uppercase;
    border-style: none;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.entrarEmail{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
}

.redes{
    margin-top: 50px;
    margin-left: 200px;
}

.redes img{
    width: 40px;
}